body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:187px;
  top:117px;
  width:292px;
  height:544px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:37px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:188px;
  top:118px;
  width:290px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6 {
  position:absolute;
  left:212px;
  top:321px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u8 {
  position:absolute;
  left:212px;
  top:276px;
  width:44px;
  height:43px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u11 {
  position:absolute;
  left:314px;
  top:276px;
  width:44px;
  height:43px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13 {
  position:absolute;
  left:314px;
  top:321px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u16 {
  position:absolute;
  left:407px;
  top:276px;
  width:44px;
  height:43px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u18 {
  position:absolute;
  left:407px;
  top:321px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:43px;
}
#u21 {
  position:absolute;
  left:212px;
  top:358px;
  width:44px;
  height:43px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u23 {
  position:absolute;
  left:212px;
  top:403px;
  width:44px;
  height:17px;
  font-size:12px;
  text-align:center;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:234px;
  top:319px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u25_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:11px;
  height:8px;
}
#u25_seg2 {
  position:absolute;
  left:-1px;
  top:-4px;
  width:8px;
  height:6px;
}
#u26 {
  position:absolute;
  left:-48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:95px;
}
#u27 {
  position:absolute;
  left:194px;
  top:164px;
  width:278px;
  height:95px;
}
#u28 {
  position:absolute;
  left:2px;
  top:40px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
